
body{
  font-family: 'Roboto';
  font-style: normal;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.root{
    width: 100%;
    position: absolute;
    
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 130px;
}
main h1:first-of-type{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #293845;
  margin-bottom: 10px;
}
.titles{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
main img{
  width: 140px;
  margin-bottom: 25px;
  margin-right: 15px;
}

.selected{
  background-color: #5bdb61;
  border: 1px solid #26ae1a;
}
.available{
  background-color: #C3CFD9;
  border: 1px solid #7B8B99;
}
.occupied{
  background-color: #ebd55d;
  border: 1px solid #F7C52B;
}


